/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'GT Super Txt Trial';
    src: url('../assets/fonts/GT-Super-Text-Regular.woff2');
}

/*===== Variables =====*/
:root {
    /*===== Color =====*/
    --clr-primary: #B5B35C;
    --clr-secondary-green: #39FF14;
    --clr-secondary-red: #FF3131;
    --clr-secondary-yellow: #FFF01F;
    --clr-secondary-pink: #FF44CC;
    --clr-secondary-purple: #BC13FE;
    --clr-secondary-blue: #1F51FF;
    --clr-current-olive: #5E6B61;
    --clr-current-yellow: #F2E085;
    --clr-current-baby-blue: #BFEAFF;
    --clr-current-salmon: #FECFBA;
    --clr-current-mild-olive: #A3A59B;
    --clr-current-orange: #D77628;
    --clr-current-black: #000000;
    --clr-current-light-gray: #F8F8F8;
    --clr-current-brick-red: #BD6059;

    /*===== Heading =====*/
    --h1-font: 700 56px/84px 'GT Super Txt Trial', sans-serif;
    --h2-font: 700 48px/72px 'GT Super Txt Trial', sans-serif;
    --h3-font: 700 40px/60px 'GT Super Txt Trial', sans-serif;
    --h4-font: 700 32px/48px 'GT Super Txt Trial', sans-serif;
    --h5-font: 700 24px/36px 'GT Super Txt Trial', sans-serif;
    --h6-font: 700 20px/30px 'GT Super Txt Trial', sans-serif;

    /*===== Display =====*/
    --display-1: 700 96px/111px 'GT Super Txt Trial', sans-serif;
    --display-2: 700 80px/93px 'GT Super Txt Trial', sans-serif;
    --display-3: 700 72px/83px 'GT Super Txt Trial', sans-serif;

    /*===== Body Text =====*/
    --text-large-bold: 700 20px/30px 'Montserrat', sans-serif;
    --text-large: 400 20px/30px 'Montserrat', sans-serif;
    --text-normal-bold: 700 16px/24px 'Montserrat', sans-serif;
    --text-normal: 400 16px/24px 'Montserrat', sans-serif;
    --clr-text: #23262F;

    /*===== Caption =====*/
    --caption-1: 400 14px/22px 'Montserrat', sans-serif;
    --caption-1-bold: 700 14px/22px 'Montserrat', sans-serif;
    --caption-2: 400 12px/18px 'Montserrat', sans-serif;
    --caption-2-bold: 700 12px/28px 'Montserrat', sans-serif;

    /*===== Others =====*/
    --header-height: 140px;
    --navbar-height: 100px;
    --z-fixed: 100;
    --z-toltip: 10;
    --z-back: -1;
    --transition: all .2s linear;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.news_detail {
    background-color: var(--clr-current-light-gray);
}

.news_breadcrumb {
    width: 100%;
    height: 40px;
    background-color: var(--clr-current-orange);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}

.news_breadcrumb a {
    color: var(--clr-current-black);
    font: var(--text-normal);
}

.news_breadcrumb img {
    transform: rotate(-90deg);
}

.news_detail_image {
    width: 100%;
    height: 600px;
    background: #efefef no-repeat center;
    background-image: url('../assets/images/news_sample1.png');
    background-size: cover;
}

.news_body {
    width: 80vw;
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 900px;
}

.news_date {
    font: var(--text-large);
    margin-bottom: .5rem;
}

.news_title {
    font: var(--h1-font);
}

.news_body hr {
    margin: 3.5rem 0;
    border: 1px solid var(--clr-current-black);
}

.news_body>div p {
    font: var(--text-large);
    margin-bottom: 1.5rem;
}

.color_primary {
    color: var(--clr-primary);
}

.news_body>div img:not(.news_detail_social_media img, .comments img) {
    width: 100%;
    border: 1px solid var(--clr-current-black);
}

.news_body>div h5 {
    font: var(--h5-font);
    margin: 2.5rem 0 1.5rem 0;
}

.news_bottom_hr {
    margin: 5rem 0 2.5rem 0 !important;
}

.news_footer_category_social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.news_detail_category {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.news_detail_category>a {
    padding: 5px 12px;
    white-space: nowrap;
    border: 1px solid var(--clr-current-black);
    border-radius: 100px;
    font: var(--caption-1-bold);
    cursor: pointer;
}

.news_detail_category>a:hover {
    background-color: #efefef;
    transition: var(--transition);
}

.news_detail_social_media {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.news_detail_social_media a {
    width: 32px;
    height: 32px;
}

.news_detail_social_media a img {
    width: 32px;
    height: 32px;
}

.news_footer {
    margin-bottom: 8rem;
}

.comments {
    margin: 6rem 0 4rem 0;
}

.comments h4 {
    font: var(--h4-font);
}

.comment {
    margin-top: 3rem;
}

.user_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    height: 64px;
}

.profile_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.user_information {
    height: 54px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.user_name {
    font: var(--text-normal-bold) !important;
    margin: 0 !important;
}

.commented_at {
    font: var(--caption-1) !important;
    margin: 0 !important;
}

.comment_text {
    font: var(--text-large);
    margin-top: 24px;
}

.comment_form label {
    font: var(--text-normal-bold);
    text-transform: uppercase;
}

.comment_form_row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-bottom: 2rem;
}

.comment_form input {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid var(--clr-current-black);
    border-radius: 4px;
    font: var(--text-normal);
    margin-top: .5rem;
    background-color: #f3f3f3;
}

.comment_form input::placeholder {
    color: var(--clr-current-mild-olive);
}

.comment_form textarea {
    width: 100%;
    height: 195px;
    padding: 10px 4px 4px 16px;
    margin-top: .5rem;
    background-color: #f3f3f3;
}

.comment_post {
    width: 106px;
    height: 48px;
    padding: 12px 32px;
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-current-black);
    font: var(--h6-font);
    line-height: 24px;
    margin-top: 2rem;
    float: right;
}

footer::before {
    display: none;
}

@media screen and (max-width: 600px) {
    .news_breadcrumb {
        margin-top: calc(var(--navbar-height) - 30px);
        padding-left: 2rem;
    }

    .news_title {
        font: var(--h3-font);
    }

    .news_body hr {
        margin: 2.5rem 0;
    }

    .news_body>div p {
        font: var(--text-normal);
        margin-bottom: 1rem;
    }

    .news_body>div h5 {
        font: var(--h6-font);
        margin: 2rem 0 1rem 0;
    }

    .news_bottom_hr {
        margin: 3rem 0 !important;
    }

    .news_footer_category_social_media {
        flex-direction: column;
    }

    .news_detail_category {
        overflow-x: auto;
    }

    /* .comment_form_row{
        grid-template-columns: auto;
    } */
}