/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'GT Super Txt Trial';
    src: url('../assets/fonts/GT-Super-Text-Regular.woff2');
}

/*===== Variables =====*/
:root {
    /*===== Color =====*/
    --clr-primary: #B5B35C;
    --clr-secondary-green: #39FF14;
    --clr-secondary-red: #FF3131;
    --clr-secondary-yellow: #FFF01F;
    --clr-secondary-pink: #FF44CC;
    --clr-secondary-purple: #BC13FE;
    --clr-secondary-blue: #1F51FF;
    --clr-current-olive: #5E6B61;
    --clr-current-yellow: #F2E085;
    --clr-current-baby-blue: #BFEAFF;
    --clr-current-salmon: #FECFBA;
    --clr-current-mild-olive: #A3A59B;
    --clr-current-orange: #D77628;
    --clr-current-black: #000000;
    --clr-current-light-gray: #F8F8F8;
    --clr-current-brick-red: #BD6059;

    /*===== Heading =====*/
    --h1-font: 700 56px/84px 'GT Super Txt Trial', sans-serif;
    --h2-font: 700 48px/72px 'GT Super Txt Trial', sans-serif;
    --h3-font: 700 40px/60px 'GT Super Txt Trial', sans-serif;
    --h4-font: 700 32px/48px 'GT Super Txt Trial', sans-serif;
    --h5-font: 700 24px/36px 'GT Super Txt Trial', sans-serif;
    --h6-font: 700 20px/30px 'GT Super Txt Trial', sans-serif;

    /*===== Display =====*/
    --display-1: 700 96px/111px 'GT Super Txt Trial', sans-serif;
    --display-2: 700 80px/93px 'GT Super Txt Trial', sans-serif;
    --display-3: 700 72px/83px 'GT Super Txt Trial', sans-serif;

    /*===== Body Text =====*/
    --text-large-bold: 700 20px/30px 'Montserrat', sans-serif;
    --text-large: 400 20px/30px 'Montserrat', sans-serif;
    --text-normal-bold: 700 16px/24px 'Montserrat', sans-serif;
    --text-normal: 400 16px/24px 'Montserrat', sans-serif;
    --clr-text: #23262F;

    /*===== Caption =====*/
    --caption-1: 400 14px/22px 'Montserrat', sans-serif;
    --caption-1-bold: 700 14px/22px 'Montserrat', sans-serif;
    --caption-2: 400 12px/18px 'Montserrat', sans-serif;
    --caption-2-bold: 700 12px/28px 'Montserrat', sans-serif;

    /*===== Others =====*/
    --header-height: 140px;
    --navbar-height: 100px;
    --z-fixed: 100;
    --z-toltip: 10;
    --z-back: -1;
    --transition: all .2s linear;
}

/*===== Product Detail =====*/
.product_detail_wrapper {
    padding: 4rem 2rem;
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.product_detail_left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.product_detail_images {
    display: grid;
    grid-template-columns: 79px;
    gap: 1rem;
    width: 79px;
    height: 593px;
    overflow: hidden;
}

.product_detail_images img {
    width: 79px;
    height: 111px;
    border-radius: 90px;
    cursor: pointer;
    border: 1px solid var(--clr-current-black);
}

.product_detail_image {
    width: 424px;
    height: 593px;
    border-radius: 90px;
    border: 1px solid var(--clr-current-black);
}

.product_detail_image img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
}

.product_detail_header h3 {
    font: var(--h3-font);
}

.product_detail_header p {
    font: var(--text-large-bold);
    color: var(--clr-primary);
    margin: 1rem 0;
}

.product_detail_right hr {
    border: 1px solid var(--clr-current-black);
    height: 0;
}

.product_detail_quantity {
    margin: 2rem 0;
    margin-bottom: 3rem;
}

.product_detail_quantity label {
    font: var(--text-large);
    width: 110px;
}

.product_quantity {
    margin-bottom: 2rem;
}

.product_quantity,
.product_color {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.quantity_controller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.quantity_controller button {
    width: 40px;
    height: 40px;
    background-color: var(--clr-current-light-gray);
}

.quantity_value {
    font: 700 32px/24px 'GT Super Txt Trial', sans-serif;
    ;
    border-color: transparent;
    background-color: transparent !important;
}

.product_color input {
    width: 150px;
}

.product_buy {
    margin-bottom: 1.5rem;
}

.product_buy button {
    width: 100%;
    height: 48px;
    border: 2px solid var(--clr-current-black);
    font: var(--h6-font);
    line-height: 24px;
    cursor: pointer;
}

.add_cart {
    background-color: var(--clr-primary);
    margin-bottom: 1rem;
}

.paypal_button {
    background-color: var(--clr-current-yellow);
}

.payment_span {
    font: var(--caption-2);
    margin-right: .15rem;
}

.product_buy p {
    font: 700 16px/19px 'GT Super Txt Trial', sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.product_detail_text {
    font: var(--text-large);
}

.product_detail_text ul {
    list-style: disc;
    margin-left: 2rem;
}

.product_detail_social_media {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.product_detail_social_media a {
    width: 32px;
    height: 32px;
    color: var(--clr-current-black);
}

.product_detail_social_media a i {
    font-size: 32px;
}

.product_detail_image_controller {
    display: none;
}

/*===== You may also like =====*/
.also_like {
    background-color: var(--clr-current-brick-red);
    color: var(--clr-current-light-gray);
}

@media screen and (max-width: 768px) {
    .product_detail_wrapper {
        grid-template-columns: 100%;
        gap: 3rem;
    }

    .product_detail_images {
        display: none;
    }

    .product_detail_image {
        width: 334px;
        height: 467px;
        border-radius: 90px;
    }

    .product_detail_header h3 {
        font: var(--h4-font);
    }

    .product_detail_text {
        font: var(--text-normal);
    }

    .product_detail_social_media {
        gap: 1rem;
    }

    .product_detail_social_media a {
        width: 24px;
        height: 24px;
    }

    .product_detail_social_media a i {
        font-size: 24px;
    }

    .product_detail_left {
        flex-direction: column;
        align-items: center;
    }

    .product_detail_image_controller {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .product_detail_image_controller div {
        width: 10px;
        height: 10px;
        background-color: #efefef;
        border-radius: 50%;
    }
}